package main

const (

	// - WiFi --------------------------------------------------------------------

	// to disable, leave either empty

	// Wifi connectivity
	wifiSsid = "" // wifi access point name
	wifiPass = "" // wifi access point password

)
